/* 
--primary: #61f3c6; rgba(86,227,186,1)
--blue: #73BAF9; rgba(115,186,249,1)
--yellow: #F7D970; rgba(247,217,112,1)
--red: #FD4961; rgba(253,73,97,1)
--gray #918F97 ; 145,143,151;
*/

:root {
    --primary: #b2f35f;
    --primary200: #1dd6b4;
    --secondary: #1dd6b4;
    --third: #f46d22;
    --green: #4ee0b6;
    --red: #f46d22;
    --blue: #70bbfd;
    --bg: #161f20;
    --bgDark: #1b2627;
    --bgTable: #161f20;
    --bg300: #161f20;
    --textGray: #e0e0e0;
}

@font-face {
    font-family: "Inter Bold";
    src: url("../fonts/inter-bold.ttf");
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: "Inter Light";
    src: url("../fonts/Inter-Light.otf");
    font-weight: 300;
}

body {
    font-family: "Inter Bold" !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Inter Bold" !important;
}

p,
label,
span {
    font-family: "Inter Light" !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--bgDark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--bg300);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg300);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: var(--primary) !important;
}

.navbar-brand-img {
    cursor: pointer;
}

.shrink {
    transition: 0.2s;
}

.ql-snow {
    background-color: var(--bgDark) !important;
    border: none !important;
}

.ql-toolbar.ql-snow {
    border-radius: 8px 8px 0px 0px;
}

.ql-container.ql-snow {
    border-radius: 0px 0px 8px 8px;
}

.ql-picker-label {
    color: var(--textGray);
}

.ql-snow .ql-stroke {
    stroke: var(--textGray) !important;
}

.ql-editor.ql-blank,
.ql-editor {
    border-top: 1px solid var(--bg300) !important;
    margin-left: 5px;
    margin-right: 5px;
}
.ql-editor.ql-blank::before {
    color: var(--bg300) !important;
}

.ql-picker-label:hover {
    color: var(--bg);
}

.ql-bold.ql-active svg path.ql-stroke {
    stroke-width: 3 !important;
}

.ql-container.ql-snow .ql-editor,
.ql-container.ql-snow .ql-editor h1,
.ql-container.ql-snow .ql-editor h2,
.ql-container.ql-snow .ql-editor h3 {
    color: white !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: var(--primary) !important;
}

.table > :not(caption) > * > * {
    border-color: var(--bg300) !important;
}

.form-control {
    background-color: var(--bgTable) !important;
    border: 1px solid var(--bg300) !important;
    border-radius: 8px !important;
    font-size: 15px !important;
    line-height: 15px !important;
    color: white !important;
    display: block;
    font-weight: 400;
    padding: 0.5rem 0.75rem;
    transition: box-shadow 0.15s ease, border-color 0.15s ease;
    width: 100%;
}

.form-control[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.form-select {
    height: 38px !important;
}

select {
    background-color: var(--bgTable) !important;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid var(--bg300) !important;
    font-size: 15px !important;
    line-height: 15px !important;
    font-weight: 400 !important;
    font-family: "Inter Light";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23ffffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E") !important;
}

.nav-fill .nav-item,
.nav-fill > .nav-link {
    flex: none !important;
    width: 200px !important;
}
.nav.nav-pills .nav-link {
    color: var(--textGray) !important;
}

.nav.nav-pills .nav-link span {
    font-weight: 900 !important;
    font-family: "Inter Bold" !important;
}

.nav.nav-pills .nav-link.active {
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 2px solid var(--primary) !important;
    border-radius: 2px !important;
    z-index: 2;
}

.nav.nav-pills {
    border-bottom: 1px solid var(--bg300) !important;
    border-radius: 1px !important;
    z-index: 1;
    margin-left: 20px;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 60% !important;
}

.listContainer {
    display: flex;
    flex-direction: column;
}

.listContainer .li {
    display: flex;
    align-self: start;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.listContainer .li:hover {
    background-color: var(--textGray);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.boxSpan {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.table tbody {
    font-family: "Inter Light";
    font-size: 17px;
}

.fc .fc-scrollgrid {
    border: none !important;
}

.fc-scroller .fc-scroller-liquid-absolute {
    overflow: hidden !important;
}

.fc-toolbar-title {
    font-size: 16px !important;
    color: white !important;
    margin-bottom: 10px !important;
}

.fc-today-button {
    font-size: 6px !important;
}

.fc-button-group {
    font-size: 5px !important;
}

.fc-col-header-cell-cushion {
    color: white !important;
    font-size: 7px !important;
}

.fc-daygrid-day-number {
    color: gray !important;
    font-size: 6px !important;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 4px !important;
}
.fc-event-main {
    font-size: 4px !important;
    cursor: pointer !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border: 1px solid var(--bg300) !important;
}

.fc .fc-daygrid-day-top {
    justify-content: center !important;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 0px !important;
}
.fc-daygrid-block-event .fc-event-time,
.fc-daygrid-block-event .fc-event-title {
    padding: 0px !important;
}

tbody tr th.fc-col-header-cell {
    background-color: var(--bg) !important;
    padding: 0px !important;
    margin: 0 !important;
}

.ch-domain-text {
    fill: var(--textGray) !important;
    font-size: 12px !important;
}

.ch-plugin-calendar-label-text {
    fill: var(--textGray) !important;
    font-weight: 100 !important;
}

.dropdown-menu {
    background-color: var(--bgDark) !important;
    border-radius: 2px !important;
    margin-top: 10 !important;
    color: var(--textGray) !important;
    padding: 20px 10px !important;
    font-size: 15px !important;
    width: 230px !important;
}

.dropdown:not(.dropdown-hover) .dropdown-menu {
    margin-top: 18px !important;
    margin-right: 14px !important;
}

.card-overview {
    height: 100px;
    width: 100%;
    background-color: var(--bg) !important;
}
.flex-overview {
    display: flex;
    flex-direction: row;
}
