:root {
    --primary: #7364db;
    --bg: #20222a;
    --bgDark: #0f0f12;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: var(--primary) !important;
}

.fc-toolbar-title {
    font-size: 20px !important;
    color: white !important;
}

.fc-today-button {
    font-size: 10px !important;
}

.fc-button-group {
    font-size: 10px !important;
}

.fc-col-header-cell-cushion {
    color: white !important;
    font-size: 11px !important;
}

.fc-daygrid-day-number {
    color: gray !important;
    font-size: 11px !important;
}

.ql-snow {
    background-color: white !important;
    border-radius: 8px !important;
}
